*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    min-width: 100vw;

    background-color: dodgerblue;
}
header .header-container{
    display: grid;
    gap: .5rem;

    width: 100%;
    
    text-align: center;
    
    color:white
}
header .header-container p{
    font-size: 1.2em;
}
main h2{
    margin: .3rem;
    text-align: center;
}
footer{
    padding-block: .5rem;

    text-align: center;

    color: white;

    background-color: gray;
}